#pageHead {
    grid-template-columns: 1;
    display: grid;
    grid-template-rows: 19% 11% 25% 18% 26%;
    /* grid-template-rows: 20% 9% 25% 18% 26%; */
    background-color: #F6F6F6;
}

#pageHead__title {
  
    font-size: 2rem;
}

#pageHead__texte {
    
    font-size: 1.5rem;
  
}