@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    /* THE FONT IS RALEWAY. */
    font-family: "roboto", sans-serif;
}

.demo {
    position: relative;
    text-align: justify;
    animation-name: voile;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes voile {
    from {
        /* background-color: grey; */
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes voile {
    /* sur Firefox */
    from {
        /* background-color: grey; */
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes voile {
    /* sur Safari et Chrome */
    from {
        /* background-color: grey; */
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes voile {
    /* sur Opera */
    from {
        /* background-color: grey; */
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.custom-loading-spinner {
    /* cursor: progress;*/
    position: relative;
    width: 100%;
    height: 100%;
}

.custom-loading-spinner::before {
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.6;
}

.custom-loading-spinner::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 250px;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear 3;
    background: pink;
    background: linear-gradient( 175deg, #FF79DA 10%, #9356DC 95%);
    opacity: 0;
}

@keyframes custom-loading {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1
    }
}

/*Header */

#container {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 7px solid #eaeaea;
    border-radius: 9px;
}

h2 {
    margin: 0;
}

#logo-header {
    width: 82%;
    text-align: center;
    /* margin: auto; */
    padding-top: 2%;
    margin-bottom: 0%;
    display: flex;
    padding-left: 48%;
}

#border {
    border-bottom: 7px solid #eaeaea;
    width: 99%;
    position: absolute;
    padding-top: 9%;
}

#pageHead {
    grid-template-columns: 1;
    display: grid;
    grid-template-rows: 21% 10% 25% 18% 26%;
    /* grid-template-rows: 20% 9% 25% 18% 26%; */
    background-color: #F6F6F6;
}

#pageHead__logo {
    padding-bottom: 5%;
    grid-row-start: 1;
    background-color: #FFFFFF;
}

#pageHead__search__bande {
    grid-row-start: 2;
}

#pageHead__search {
    text-align: center;
    margin: auto;
    background-color: #eaeaea;
    padding-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 100%;
    border-right: 7px solid #eaeaea;
}

#pageHead__text {
    padding-left: 2%;
    font-size: 1.6rem;
}

#pageHead__title {
    /* grid-row-start: 3;
    text-align: center;
    margin: auto;
    margin-top: -1%;
    overflow: hidden;
    padding: 7%;
    background-color: #F6F6F6;
    font-size: 2.5rem; */

    grid-row-start: 3;
    text-align: center;
    margin: auto;
    width: 101%;
    padding-bottom: 2%;
    /* margin-top: -1%; */
    overflow: hidden;
    /* padding: 7%; */
    padding-top: 2%;
    /* padding-left: 1%; */
    background-color: white;
    font-size: 1.8rem;
}

#pageHead__texte {
    grid-row-start: 4;
    text-align: center;
    overflow: hidden;
    font-size: 168%;
    padding: 0%;
    /* padding-top: 2%; */
    background-color: #F6F6F6;
}

#pageHead__div__button {
    grid-row-start: 5;
    background-color: #F6F6F6;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    width: 70%;
}

#pageHead__button {
    text-align: center;
    margin: auto;
    background-color: #9356DC;
    border-radius: 2rem;
    border: 0;
    color: white;
    font-size: 1.5rem;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    transition: background-color 1s;
}

#pageHead__button:hover {
    background-color: #FF79DA;
}

/***********************/

/*SECTION:FONCTIONNEMENT*/

#pagefonctionnement {
    grid-template-columns: 2;
    display: grid;
    grid-template-rows: 20% 25% 25% 25%;
    grid-template-columns: 100%;
    margin-top: 25%;
    border-left: 7px solid #eaeaea;
}

#pagefonctionnement__title {
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0;
    padding-left: 7%;
    font-size: 2.4rem;
}

#pagefonctionnement__button1 {
    display: grid;
    grid-template-columns: 8% 92%;
    grid-row-start: 2;
    grid-column-start: 1;
    text-align: center;
    padding: 6%;
}

#pagefonctionnement__button2 {
    display: grid;
    grid-template-columns: 8% 92%;
    grid-row-start: 3;
    grid-column-start: 1;
    text-align: center;
    padding: 6%;
}

#pagefonctionnement__button3 {
    display: grid;
    grid-template-columns: 8% 92%;
    grid-row-start: 4;
    grid-column-start: 1;
    text-align: center;
    padding: 6%;
}

.pagefonctionnement__buttonStyle {
    width: 107%;
    height: 100%;
    border-radius: 2rem;
    border: 0;
    color: black;
    font-size: 136%;
    padding: 2%;
    padding-left: 3%;
    margin-left: -7%;
    transition: background-color 1s;
}

.pagefonctionnement__buttonStyle:hover {
    background-color: #FF79DA;
    transition: 1s;
}

.pagefonctionnement__buttonStyle--circle {
    grid-template-columns: 1;
    color: #fff;
    background-color: #9356dc;
    border: 1px solid #9356dc;
    border-radius: 100%;
    padding-top: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 27px;
}

#pagefonctionnement__buttonStyle--circle1 {
    color: #fff;
    grid-column-start: 1;
    background-color: #9356dc;
    border: 1px solid #9356dc;
    border-radius: 50%;
    margin-top: 10px;
    width: 27px;
    padding-top: 6px;
    margin-bottom: 10px;
    position: relative;
}

.pagefonctionnement--titleButton {
    grid-template-columns: 3;
    padding-left: 7%;
}

/*SECTION:RESTAURANTS*/

#pagerestaurants {
    /* display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: 50% 50%;
    background-color: #F6F6F6;
    margin-top: 7%; */

    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: 50% 50%;
    background-color: #F6F6F6;
    margin-top: 4%;
    padding-bottom: 2%;
}

#pagerestaurants__title {
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0;
    background-color: #F6F6F6;
    padding-top: 4%;
    padding-left: 5%;
    font-size: 224%;
}

#pagerestaurants__title1 {
    grid-row-start: 1;
    grid-column-start: 2;
    margin: 0;
}

.pagerestaurants__grid {
    display: grid;
    grid-template-columns: 70% 30%;
}

.pagerestaurants__h2 {
    padding-top: 2%;
    padding-left: 3%;
    font-size: 1rem;
    grid-column-start: 1;
}

.pagerestaurants__span {
    padding-left: 3%;
    font-size: 1rem;
    grid-column-start: 1;
}

.pagerestaurants__heart {
    grid-row-start: 1;
    grid-column-start: 2;
    padding-left: 65%;
    padding-top: 4px;
}

#pagerestaurants__div1 {
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 3%;
    border-radius: 10px;
    position: relative;
}

.pagerestaurants__cliquable {
    text-decoration: none;
    color: black;
}

#pagerestaurants__div2 {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 3%;
    border-radius: 10px;
    position: relative;
}

#pagerestaurants__div3 {
    grid-row-start: 3;
    grid-column-start: 1;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 3%;
    border-radius: 10px;
}

#pagerestaurants__div4 {
    grid-row-start: 3;
    grid-column-start: 2;
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 3%;
    border-radius: 10px;
}

.pagerestaurants__card--tag {
    border-radius: 3px;
    background-color: #99e2d0;
    color: #217460;
    padding: 5px;
    position: absolute;
    right: 8px;
    margin-top: 5px;
}

.pagerestaurants__pictures {
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

/*FOOTER*/

#pageFooter {
    display: grid;
    grid-template-rows: 25% 20% 20% 20% 15%;
    background-color: black;
    padding: 5%;
}

#pageFooter__h2_title {
    grid-row-start: 1;
    color: white;
    font-family: Shrikhand;
    font-size: 1.9em;
    letter-spacing: 0.03em;
}

#pageFooter__sentence1 {
    grid-row-start: 2;
    color: white;
    margin-top: 1%;
}

.pageFooter--span {
    padding-left: 10px;
    font-size: 0.9rem;
}

#pageFooter__sentence2 {
    grid-row-start: 3;
    color: white;
    margin-top: 1%;
}

#pageFooter__h2--1 {
    grid-row-start: 4;
    color: white;
    font-size: 0.8rem;
    margin-top: 1%;
}

#pageFooter__h2--2 {
    grid-row-start: 5;
    color: white;
    font-size: 0.8rem;
    margin-top: 1%;
}
#pageFooter>a{
    text-decoration: none;
}
