@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    /* THE FONT IS RALEWAY. */
    font-family: "roboto",sans-serif;
    }
    


.logo-header{
    width: 25%;
    text-align:center;
margin:auto;
display:flex;
}
.fa{
    font-size: 50em;
}
.pageHead{
    display:grid;
    grid-template-rows: 12% 45% 43%;
}

.pageHead__div1{
grid-row-start: 1;
display: grid;
grid-template-columns: 20% 80%;

}
.pageHead__div1--a{
    grid-column-start: 1;
    /* background-color: chartreuse; */
    padding-top: 31%;
    padding-left: 40%;
    color: black;
}
.pageHead__div1--logo{
    grid-column-start: 2;
    width: 69%;
    padding-top: 5%;
}
.pageHead__div2{
    grid-row-start: 2;
    margin-top: 3%;
   
}   
.pageHead__div3{
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 83% 17%;


}
.pageHead__div3--h1{
    grid-column-start: 1;
    background-color: #F6F6F6;
    margin: 0;
    font-size: 1.6em;
    border-top-left-radius: 3rem;
    padding-top: 8%;
    padding-left: 6%;
    font-family: Shrikhand,sans-serif;
}
.pageHead__div3--heart{
    grid-column-start: 2;
    width: 100%;
    
    background-color: #F6F6F6;
    padding-top: 58%;
    width: 100%;
    border-top-right-radius: 3rem;

}
.pageHead__div2--picture{
    width: 100%;
    height: 130%;
}

.pageentrees{
    display:grid;
    grid-template-rows: 18% 30% 30% 30%;
    background-color: #F6F6F6;
    margin-top: -21%;
}
.pageentrees{
              
    animation-name:fadein;
    animation-duration: 3s;
    animation-timing-function:linear ;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
@keyframes fadein {
    from {
        margin-top:-25%;
        opacity:0.5;
    }
    to {
       margin-top: -21%;
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        margin-top:2%;
        opacity:0.5;
    }
    to {
        margin-top:4%;
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        margin-top:2%;
        opacity:0.5;
    }
    to {
        margin-top:4%;
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        margin-top:2%;
        opacity:0.5;
    }
    to {
        margin-top:4%;
        opacity:1;
    }
}
.pageentrees__h2{
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 100%;
    font-size: 1rem;
    padding-left: 2%;
}
.pageentrees__h2--underline {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 2.5rem;
    border-top: 3px solid #99e2d0;
    margin: 1.4rem 0 0 2%;
    
}
.pageentrees__div1{
    grid-row-start: 2;  
    background-color:white;
   display:grid;
grid-template-columns: 70% 30%;
border-radius: 1rem;
    margin: 1%;
}
.pageentrees__div1:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animSun {
    0% {
        grid-template-columns: 70% 28% 2%;
    }
    10% {
        grid-template-columns: 70% 26% 4%;
    }
    20% {
        grid-template-columns: 70% 24% 6%;
    }
    30% {
        grid-template-columns: 70% 22% 8%;
    }
    40% {
        grid-template-columns: 70% 20% 10%;
    }
    50% {
        grid-template-columns: 70% 18% 12%;
    }
    60% {
        grid-template-columns: 70% 16% 14%;
    }
    70% {
        grid-template-columns: 70% 14% 16%;
    }
    80% {
        grid-template-columns: 70% 12% 18%;
    }
    90% {
        grid-template-columns: 70% 10% 19%;
    }
    100% {

        grid-template-columns: 70% 10% 20%;
    }
}
#pageentrees__container__col2{
    display:flex;
    align-items: flex-end;
}
.pageentrees__h3{
grid-column-start: 1;
}
.pageentrees__h4{
    grid-column-start: 1;

}
.pageentrees__span{
    grid-row-start:2;
grid-column-start: 2;
padding-bottom: 9%;
}
.pageentrees__div2{
    grid-row-start:3; 
    background-color:white;
    display:grid;
    grid-template-columns: 70% 30%;
    border-radius: 1rem;
    margin: 1%;

}
.pageentrees__div2:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pageentrees__h3{
    grid-column-start: 1;
    }
    .pageentrees__h4{
        grid-column-start: 1;
    
    }
    .pageentrees__span{
        grid-row-start:2;
    grid-column-start: 2;
    }
.pageentrees__div3{
    grid-row-start: 4;
    background-color:white;
    display:grid;
    grid-template-columns: 70% 30%;
    border-radius: 1rem;
    margin: 1%;
}
.pageentrees__div3:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pageentrees__h3{
    grid-column-start: 1;
    font-size: 1rem;
    margin: 0;
    margin-top: 0%;
    padding-top: 3%;
    /* margin-left: 15px; */
    padding-left: 15px;
    }
    .pageentrees__h4{
        grid-column-start: 1;
        font-size: 0.8em;
        margin: 0;
        margin-top: 2%;
        margin-bottom: 5%;
        /* margin-left: 4%; */
        padding-left: 15px;
    
    }
    .pageentrees__span{
        grid-row-start: 2;
    grid-column-start: 2;
    font-size: 0.8rem;
    padding-bottom: 30px;
    padding-left: 51%;
    }
    .test {
        grid-column-start: 3;
        background-color: #32c671;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        overflow: hidden;
        height: 96%;
    }
    
    #pageentrees__container__col3 {
        display:flex;
        margin-left: 1%;
       width: 100%;
    }
    
    #pageentrees__circle {
        color: white;
        margin:auto
    
    }
    .pageentrees__div1:hover>.test>div>#pageentrees__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
    .pageentrees__div2:hover>.test>div>#pageentrees__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
    .pageentrees__div3:hover>.test>div>#pageentrees__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
    @keyframes animRotation {
        0% {
            transform: rotate(180deg);  
        }
        10% {
            transform: rotate(170deg);  
        }
        20% {
           
        }
        30% {
            transform: rotate(90deg);  
        }
        75% {
          
        }
        100% {
            transform: rotate(0deg);  
        }
    }
/***************************************************************************/
.pageplats{
    display: grid;
    grid-template-rows: 24% 28% 28% 28%;
    background-color: #F6F6F6;
    padding-top: 5%;
  
}
.pageplats__h2{
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
    margin: 0;
    margin-top: 3%;
    font-size: 1rem;
    padding-left: 2%;
}
.pageplats__h2--underline {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 2.5rem;
    border-top: 3px solid #99e2d0;
    margin: 3.1rem 0 0 2%;
}
.pageplats__div1{
    grid-row-start: 2;  
    background-color:white;
   display:grid;
   grid-template-columns: 72% 28%;
border-radius: 1rem;
    margin: 1%;
}
.pageplats__div1:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pageplats__h3{
grid-column-start: 1;
font-size: 1rem;
    margin: 0;
    margin-top: 6%;
    margin-left: 3%;
}
.pageplats__h4{
    grid-column-start: 1;
    font-size: 0.8em;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 4%;

}
.pageplats__span{
    grid-row-start:2;
grid-column-start: 2;
font-size: 0.8rem;
padding-top: 7%;
padding-left: 51%;
}
.pageplats__div2{
    grid-row-start:3; 
    background-color:white;
    display:grid;
    grid-template-columns: 70% 30%;
    border-radius: 1rem;
    margin: 1%;

}
.pageplats__div2:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pageplats__h3{
    grid-column-start: 1;
    font-size: 1rem;
    margin: 0;
    margin-top: 0%;
    padding-top: 3%;
    /* margin-left: 3%; */
    padding-left: 15px;
    }
    .pageplats__h4{
        grid-column-start: 1;
        font-size: 0.75em;
        margin: 0;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 0%;
        padding-left: 15px;
    
    }
    .pageplats__span{
        grid-row-start: 2;
        grid-column-start: 2;
        font-size: 0.8rem;
        /* padding-top: 7%; */
        padding-left: 51%;
        padding-bottom: 25px;
    }
.pageplats__div3{
    grid-row-start: 4;
    background-color:white;
    display:grid;
    grid-template-columns: 70% 30%;
    border-radius: 1rem;
    margin: 1%;
}
.pageplats__div3:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pageplats__h3{
    grid-column-start: 1;
    }
    .pageplats__h4{
        grid-column-start: 1;
    
    }
    .pageplats__span{
        grid-row-start:2;
    grid-column-start: 2;
    }
    .test1 {
        grid-column-start: 3;
        background-color: #32c671;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        overflow: hidden;
        height: 95%;
    }
    #pageplats__container__col2{
display:flex;
align-items: flex-end;
    }
    #pageplats__container__col3 {
        display:flex;
        margin-left: 1%;
       width: 100%;
    }
    
    #pageplats__circle {
        color: white;
        margin:auto
    
    }
    .pageplats__div1:hover>.test1>div>#pageplats__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
    .pageplats__div2:hover>.test1>div>#pageplats__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
    .pageplats__div3:hover>.test1>div>#pageplats__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }

 /*****************************************************************/   
 .pagedesserts{
    display: grid;
    grid-template-rows: 19% 28% 28% 28%;
    background-color: #F6F6F6;
    padding-top: 7%;
}
.pagedesserts__h2{
    grid-row-start: 1;
    grid-column-start: 1;

height: 100%;
font-size: 1rem;
    padding-left: 2%;
}
.pagedesserts__h2--underline {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 2.5rem;
    border-top: 3px solid #99e2d0;

    margin: 2.1rem 0 0 2%;
}
.pagedesserts__div1{
    grid-row-start: 2;  
    background-color:white;
   display:grid;
grid-template-columns: 70% 30%;
border-radius: 1rem;
    margin: 1%;
}
.pagedesserts__div1:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pagedesserts__h3{

grid-column-start: 1;
    font-size: 1rem;
    margin: 0;
    margin-top: 0%;
    padding-top: 3%;
    /* margin-left: 15px; */
    padding-left: 15px;
}
.pagedesserts__h4{
    grid-column-start: 1;
    font-size: 0.75em;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 0%;
    padding-left: 15px;

}
.pagedesserts__span{
    grid-row-start:2;
grid-column-start: 2;
font-size: 0.8rem;
padding-top: 7%;
padding-left: 51%;
padding-bottom: 24px;
}
.pagedesserts__div2{
    grid-row-start:3; 
    background-color:white;
    display:grid;
    grid-template-columns: 70% 30%;
    border-radius: 1rem;
    margin: 1%;

}
.pagedesserts__div2:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pagedesserts__h3{
    grid-column-start: 1;
    }
    .pagedesserts__h4{
        grid-column-start: 1;
    
    }
    .pagedesserts__span{
        grid-row-start:2;
    grid-column-start: 2;
    }
.pagedesserts__div3{
    grid-row-start: 4;
    background-color:white;
    display:grid;
    grid-template-columns: 70% 30%;
    border-radius: 1rem;
    margin: 1%;
}
.pagedesserts__div3:hover {
    
    animation-name: animSun;
   
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.pagedesserts__h3{
    grid-column-start: 1;
    }
    .pagedesserts__h4{
        grid-column-start: 1;
    
    }
    .pagedesserts__span{
        grid-row-start:2;
    grid-column-start: 2;
    }
    .test2 {
        grid-column-start: 3;
        background-color: #32c671;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: flex;
        overflow: hidden;
        height: 92%;
    }

    #pagedesserts__container__col2{
        display:flex;
        align-items:flex-end;
    }
    
    #pagedesserts__container__col3 {
        display:flex;
        margin-left: 1%;
       width: 100%;
    }
    
    #pagedesserts__circle {
        color: white;
        margin:auto
    
    }
    .pagedesserts__div1:hover>.test2>div>#pagedesserts__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
    .pagedesserts__div2:hover>.test2>div>#pagedesserts__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
    .pagedesserts__div3:hover>.test2>div>#pagedesserts__circle>i {
        animation-name: animRotation;
        animation-name: animRotation;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    
        /*animation-iteration-count: infinite;*/
        animation-iteration-count: 1;
    
    }
.pagebutton{
    
    text-align: center;
    padding: 3%;
    background-color: #F6F6F6;
    margin-top: 0%;
    height: 150px;
  
    
    
}
.pagebutton__buttonStyle{
    width: 55%;
    height: 29%;
    border-radius: 2rem;
    border: 0;
    color: white;
    font-size: 88%;
    padding: 1%;
    background-color: #FF79DA;
    margin-top: 7%;
    margin-bottom: 6%;
    position: relative;
 }

/*FOOTER*/
#pageFooter{
    display: grid;
    grid-template-rows: 33% 18% 18% 12% 12%;
    background-color: black;
    padding: 5%;
    
    }
  
    #pageFooter__h2_title{
        grid-row-start: 1;
        color: white;
        font-family: Shrikhand;
        font-size: 1.9em;
        letter-spacing: 0.03em;
    }
    #pageFooter__sentence1{
        grid-row-start:2;
        color:white;
        margin-top: 1%;
    }
    .pageFooter--span {
        padding-left: 2%;
        font-size: 1rem;
    }
    #pageFooter__sentence2{
        grid-row-start:3;
        color:white;
        margin-top: 1%;
    }
    #pageFooter__h2--1{
        grid-row-start: 4;
        color: white;
        font-size: 0.9rem;
        margin-top: 1%;
    }
    #pageFooter__h2--2{
        grid-row-start:5;
        color:white;
        font-size: 0.8rem;
        margin-top: 1%;
    }



    /*********************************************/
  
   